<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    
   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings ) { %>
        <div class="card col">
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <img 
                    class="card-img-top pic" 
                    src="<%= listing.image %>" 
                    alt="listing_image" 
                    style="height: 17.5rem" 
                >
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b> <br>
                        &#x20B9 <%= listing.price.toLocaleString('en-IN') %>/Day
                    </p>
              </div>
            </a>
            
           
        </div>
    <% } %>
   </div>

    


    
</body>
