body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    flex: 1;
}

/* navbar */
.navbar {
    height: 5 rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2 rem;
}

.nav-link {
    color: #222222 !important;
}



/* footer */
.f-info-links a {
   text-decoration: none;
   color: #222222;
}

.f-info-links a :hover {
    text-decoration: underline;
}

.f-info-links, .f-info-brand, .f-info-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    padding-right: 20px;
    padding-top: 5px;
}

.f-info {
    text-align: center;
    height: 8 rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links a {
    padding-right: 15px;
    padding-top: 5px;
}

.f-info-brand {
    padding-top: 5px;
}


/* cards */

.card {
    border: none !important;
    margin-bottom: 2 rem;
}

.card-img-top {
    border-radius: 1 rem !important;
    width: 100% !important;
    object-fit: cover !important;   
}


.pic {
    border-radius: 1rem !important;
}

.card-body {
    padding: 0 !important;
    margin-bottom: 1rem;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
    color: black;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}


/* new-page */

label {
    font-weight: 600 !important;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}


/* show page */
.show-img {
    height: 30vh;
    border-radius: 1rem !important;
}


.btns {
    display: flex;
}

.edit {
    height: 38px !important;
    background-color: blue !important;
}

.delete {
    width: 100px !important;
    background-color: red !important;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.search-listings {
    margin-top: 14px;
    margin-left: 15px;
    color: black;
}

.search-bar {
    margin-top: 8px;
    margin-left: 15px;
}

.search-input {
    border-radius: 12px !important;
}

.search-btn {
    border-radius: 6px !important;
    color: white;
    background-color: black;
}





